.left-block__btns {
  padding: 33px 0;
}

@media (max-width: 1023.98px) {
  .left-block__btns {
    display: flex;
    padding: 33px 0;
  }
}

.reg-btns {
  padding: 33px 0 26px;
}

.btn {
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px;
  color: #fff;
  background-color: transparent;
  transition: all 0.3s ease 0s;
}

.hero-btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  float: left;
  border: 1px solid var(--white);
  margin: 0 29px 0 0px;
  width: 130px;
  height: 41px;
  text-align: center;
}

@media (max-width: 1023.98px) {
  .hero-btn {
    padding: 0px 0px;
  }
}

.reg-btn {
  line-height: 24px;
  border: 1px solid var(--orange);
  padding: 8px 48px;
  margin: 0 25px 0 0px;
  color: var(--orange);
}

.btn:hover {
  color: var(--orange);
  cursor: pointer;
  background-color: var(--white);
  transition: all 0.3s ease 0s;
}

.reg-btn:hover {
  cursor: pointer;
  color: var(--white);
  background: linear-gradient(180deg, #f3a300 0%, #f07a13 100%);
}
