@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Montserrat:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /*10px*/
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.header {
  background: linear-gradient(107.81deg, #2e22ab 9.97%, #cf469f 90.03%);
}

.container {
  margin: 0 auto;
  max-width: 1420px;
}

.container .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px;
}

.container .header__left-block-border {
  border: 8px solid rgba(255, 255, 255, 0.2);
}

.container .header__logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 6rem;
  line-height: 73px;
  color: rgba(255, 255, 255, 0.2);
  padding: 10px 30px;
}

.container .header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header__links-items {
  padding-top: 10px;
}

.container .header__link {
  padding: 0px 20px;
}

.container a {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  color: #fff;
}

.container a:hover {
  color: #ee8c19;
}

.container .vert-line {
  position: relative;
  width: 0px;
  height: 30px;
  left: 0;
  top: 5px;
  border: 1px solid #fff;
  margin: 0 1px;
}

.container .header__descr {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 57% 43%;
      grid-template-columns: 57% 43%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .descr__left-block {
  padding: 122px 58px;
  color: #ffffff;
}

.container .left-block__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 5rem;
}

.container .left-block__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  padding-top: 16px;
}

.container .left-block__btns {
  padding: 33px 0;
}

.container .btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin: 0 29px 0 0px;
  color: #fff;
  background-color: transparent;
  width: 180px;
  height: 41px;
}

.container .btn:hover {
  color: #ee8c19;
  cursor: pointer;
  background-color: #fff;
}

.container .descr__right-block img {
  position: relative;
  left: 78px;
  bottom: 38px;
}

.curved {
  position: relative;
  background: #fff;
  width: 2500px;
  height: 397px;
  bottom: 253px;
  right: 300px;
  border-radius: 50%;
}

.about {
  height: 145vh;
  position: relative;
  top: -538px;
}

.about__header {
  margin-bottom: 50px;
}

.about__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 5rem;
  text-align: center;
}

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 330px;
}

.phone1 {
  position: absolute;
  left: 73px;
}

.phone3 {
  position: absolute;
  left: 50px;
  top: -58px;
}

.phone2 {
  position: absolute;
  top: -135px;
  right: 0;
}

.rotated {
  -webkit-transform: rotate(-20.93deg);
          transform: rotate(-20.93deg);
}

.about__item-text-left {
  position: relative;
  top: -14px;
  left: 413px;
  max-width: 230px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.about__item-text-right {
  position: relative;
  bottom: 8px;
  left: 662px;
  max-width: 230px;
  height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.step__4 {
  position: relative;
  bottom: 57px;
  left: 969px;
}

.item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Love Ya Like A Sister', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ee8c19;
}

.title__accent {
  font-weight: 400;
  font-size: 7rem;
  line-height: 36px;
}

.title {
  position: relative;
  top: -5px;
  left: 20px;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 36px;
  max-width: 168px;
}

.item__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  width: 296px;
}

.about__item-arrow-left {
  position: relative;
  top: 90px;
  left: 82px;
}

.arrow-curved {
  position: relative;
  top: 81px;
  left: 48px;
}

.about__item-arrow-right {
  position: relative;
  top: 147px;
  right: 72px;
}

.step__3 {
  margin-top: 63px;
}

.phone4 {
  -webkit-transform: rotate(-75.56deg);
          transform: rotate(-75.56deg);
  position: absolute;
  right: 433px;
  top: 25px;
}

.about__footer {
  padding-top: 265px;
  text-align: center;
}

.footer__title {
  font-family: 'Love Ya Like A Sister', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #ee8c19;
}

.price-section {
  height: 1120px;
  background: linear-gradient(123.15deg, #2e158b 25.79%, #531594 72.06%);
}

.price__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 56px 10px 106px;
}

.price__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #fff;
}

.price__subtitle {
  position: relative;
  top: 33px;
  left: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 18px;
  color: #fff;
}

.price-body {
  background-color: #fff;
  border-radius: 5px;
}

.small-phone {
  position: relative;
}

.small-phone img {
  position: absolute;
  top: -82px;
  left: 38px;
}

.price-body__text {
  padding: 40px 175px 30px;
}

.price-body__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 24px;
}

.price-body__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
  line-height: 49px;
}

.price__versions {
  border-top: 1px solid #f5b035;
  border-bottom: 1px solid #f5b035;
  padding-right: 198px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic-version {
  text-align: center;
  padding: 22px 129px 31px 0px;
}

.basic-version__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
  color: #ee8c19;
  padding-bottom: 34px;
}

.basic-version__price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 30px;
  max-width: 130px;
}

.discount {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  color: #2fa600;
}

.price-func {
  padding: 29px 55px 0;
}

.func__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 63% 19% 0%;
      grid-template-columns: 63% 19% 0%;
}

.list__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
}

.list__item img {
  color: #ee8c19;
}

.register {
  padding: 17px 54px 31px;
}

.register__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.reg__btns {
  padding-top: 25px;
}

.reg-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 24px;
  border: 1px solid #e15702;
  border-radius: 5px;
  height: 40px;
  width: 181px;
  margin: 0 25px 0 0px;
  color: #fff;
  background-color: transparent;
  color: #e15702;
}

.reg-btn:hover {
  cursor: pointer;
  color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#f3a300), to(#f07a13));
  background: linear-gradient(180deg, #f3a300 0%, #f07a13 100%);
}

.modal {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
  max-width: 500px;
  margin: 40px auto;
}

.modal__content {
  position: relative;
  width: 100%;
  padding: 40px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 14px;
  font-size: 30px;
  color: #000;
  opacity: 0.5;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

.modal__input {
  display: block;
  margin: 20px auto 20px auto;
  width: 280px;
  height: 50px;
  background: #fff;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border: none;
  font-size: 18px;
  text-align: center;
  padding: 0 20px;
  outline: 0;
}

.modal .btn {
  display: block;
  width: 280px;
  margin: 0 auto;
}

.show {
  display: block;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  border-radius: 10px;
  background-color: #fff;
  color: #000;
  min-width: 600px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup__close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.popup__title {
  font-size: 40px;
  text-align: center;
  margin: 0 0 1em 0;
}

.popup__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#tr {
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

.popup__input {
  width: 280px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  margin: 20px auto 20px auto;
}

.log-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 24px;
  border: 1px solid black;
  border-radius: 5px;
  height: 40px;
  width: 181px;
  background-color: transparent;
  color: black;
}
/*# sourceMappingURL=style.css.map */