@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&family=Montserrat:wght@400;500;600;700&display=swap');

@import '_btns.css';
@import '_popup.css';
@import '_mediaq.css';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62.5%; /*10px*/
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}
/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 49%;
  }
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.header {
  background: linear-gradient(107.81deg, #2e22ab 9.97%, #cf469f 90.03%);
}

.container {
  margin: 0 auto;
  max-width: 1420px;
}

.header__nav,
.about__item,
.header__links,
.about-item__title,
.price__header {
  display: flex;
}

.left-block__title,
.about__title,
.price__title,
.basic-version__title,
.basic-version__price,
.register__title,
.popup__input {
  font-weight: 700;
}

.header__nav {
  justify-content: space-between;
  padding: 30px 0px;
}

.logo-border {
  border: 8px solid rgba(255, 255, 255, 0.2);
}

.header__logo {
  /* font-size: 6rem;
  line-height: 73px;
  color: rgba(255, 255, 255, 0.2); */
  padding: 10px 30px;
}

.header__logo a {
  font-weight: 700;

  font-size: 6rem;
  line-height: 73px;
  color: rgba(255, 255, 255, 0.2);
}

.header__links-items {
  padding-top: 10px;
}

.header__link {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: #fff;
  padding: 0px 20px;
}

.header__link:hover {
  color: #ee8c19;
  background-color: #fff;
}

.vert-line {
  position: relative;
  width: 0px;
  height: 30px;
  left: 0;
  top: 5px;
  border: 1px solid #fff;
  margin: 0 1px;
}

.hero__left-block {
  padding: 122px 58px;
  color: #ffffff;
}

.left-block__title {
  font-size: 5rem;
}

.left-block__subtitle {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 24px;
  padding-top: 16px;
}

/* .hero {
  display: grid;
  grid-template-columns: 57% 43%;
  justify-content: space-between;
} */

.hero__right-block img {
  position: relative;
  left: 78px;
  bottom: 38px;
}

.curved {
  position: relative;
  background: #fff;
  width: 2500px;
  height: 397px;
  bottom: 253px;
  right: 300px;
  border-radius: 50%;
}

.about {
  height: 145vh;
  position: relative;
  top: -538px;
}

.about__header {
  margin-bottom: 50px;
}

.about__title {
  font-size: 5rem;
  text-align: center;
}

.about__item {
  position: relative;
  height: 330px;
}

.phone1 {
  position: absolute;
  left: 73px;
}

.phone2 {
  position: absolute;
  top: -135px;
  right: 0;
}

.phone3 {
  position: absolute;
  left: 50px;
  top: -58px;
}

.phone4 {
  transform: rotate(-75.56deg);
  position: absolute;
  right: 433px;
  top: 25px;
}

.rotated {
  transform: rotate(-20.93deg);
}

.about__item-text-left {
  position: relative;
  top: -14px;
  left: 413px;
  max-width: 230px;
  height: 220px;
  display: flex;
  align-items: end;
}

.about__item-text-right {
  position: relative;
  bottom: 8px;
  left: 662px;
  max-width: 230px;
  height: 220px;
  display: flex;
  align-items: end;
}

.step__4 {
  position: relative;
  bottom: 57px;
  left: 969px;
}

.about-item__title {
  font-family: 'Love Ya Like A Sister', sans-serif;
  align-items: center;
  color: #ee8c19;
}

.title__accent {
  font-weight: 400;
  font-size: 7rem;
  line-height: 36px;
}
.title {
  position: relative;
  top: -5px;
  left: 20px;
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 36px;
  max-width: 168px;
}

.item__subtitle {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  width: 296px;
}

.about__item-arrow-left {
  position: relative;
  top: 90px;
  left: 82px;
}

.arrow-curved {
  position: relative;
  top: 81px;
  left: 48px;
}

.about__item-arrow-right {
  position: relative;
  top: 147px;
  right: 72px;
}

.step__3 {
  margin-top: 63px;
}

.about__footer {
  padding-top: 265px;
  text-align: center;
}

.footer__title {
  font-family: 'Love Ya Like A Sister', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 36px;
  color: #ee8c19;
}

.price-section {
  height: 1120px;
  background: linear-gradient(123.15deg, #2e158b 25.79%, #531594 72.06%);
}

.price__header {
  padding: 56px 10px 106px;
}

.price__title {
  font-size: 5rem;
  line-height: 61px;
  color: #fff;
}

.price__subtitle {
  position: relative;
  top: 33px;
  left: 12px;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 18px;
  color: #fff;
}

.price-body {
  background-color: #fff;
  border-radius: 5px;
}

.small-phone {
  position: relative;
}

.small-phone img {
  position: absolute;
  top: -82px;
  left: 38px;
}

.price-body__text {
  padding: 40px 175px 30px;
}

.price-body__subtitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 24px;
}

.price-body__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 49px;
}

.price__versions {
  border-top: 1px solid #f5b035;
  border-bottom: 1px solid #f5b035;
  padding-right: 198px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.basic-version {
  text-align: center;
  padding: 22px 129px 31px 0px;
}
.basic-version__title {
  font-size: 2rem;
  line-height: 24px;
  color: #ee8c19;
  padding-bottom: 34px;
}
.basic-version__price {
  font-size: 2.6rem;
  line-height: 30px;
  max-width: 130px;
}

.discount {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 30px;
  color: #2fa600;
}

.price-func {
  padding: 29px 55px 0;
}

.func__list {
  display: grid;
  grid-template-columns: 64% 18% 0%;
}
.list__item {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 40px;
}

.list__item img {
  color: #ee8c19;
}

.register {
  padding: 17px 54px 31px;
}

.register__title {
  font-size: 20px;
  line-height: 24px;
}

/* 1200px / 16px = 75em */
/* @media (min-width: 75em) {
  html {
    font-size: 60%;
  }


} */
/* 980px / 16px = 61.25em */
/* @media (min-width: 61.25em) {
  html {
    font-size: 58%;
  }
} */

/* 460px / 16px = 28.75em */
/* @media (max-width: 28.75em) {
  html {
    font-size: 49%;
  }

  .header__nav {
    max-width: 300px;
    margin: 0 auto;
    flex-direction: column;
  }

  .header__logo {
    display: flex;
    justify-content: center;
  }

  .header__right-block {
    display: none;
  }

  .hero__right-block {
    display: none;
  }

  .hero {
    display: block;
  }

  .hero__left-block {
    padding: 50px 40px;
  }

  .left-block__btns {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }

  .curved {
    display: block;
    position: relative;
    background: #fff;
    width: 1px;
    height: 1px;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  }
} */
